.markup-content.markup .nb-output:before {
    content: "" !important;
}

.markup-content.markup .nb-input:before {
    content: "" !important;
}

.markup-content.markup .nb-input pre code {
    color: inherit !important;
    text-shadow: inherit !important;
    font-family: inherit !important;
    direction: inherit !important;
    text-align: inherit !important;
    white-space: inherit !important;
    word-spacing: inherit !important;
    word-break: inherit !important;
    margin: 0px 2px 0 2px !important;
}
.markup-content.markup .nb-input pre {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

.markup-content.markup .nb-output { overflow: auto !important; border: none !important; }

.markup-content.markup .nb-output img { overflow: auto !important; border: none !important; }

.markup-content.markup .nb-cell { margin: 20px 0 10px 0 !important; }