@import "webstatic:/static/global.less";

@ipynbViewWidth: 100%;
@contentBackgroundColor: #fff; // white

.ipynb-view {
    width: @ipynbViewWidth;
    max-width: 1024px;
    padding: 20px 20px 20px 100px;
    margin: 0 auto -5px;
}

.ipynb-file {
    background-color: #f5f5f5;
    color: #235587;
}